<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>blog_index</title>
        <link rel="stylesheet" href="../input.css" />
        <link rel="stylesheet" href="../src/output.css" />
        <link rel="stylesheet" href="output.css">
    </head>

    <body>

        <!--==================================================================================================================================================-->
        <!-- subscribe -->
        <section>
            <!-- Container -->
            <div class="mx-auto w-full max-w-screen-2xl px-5 py-16 md:px-10 md:py-20">
                <!-- Component -->
                <div class="mx-auto max-w-screen-2xl text-center ">
                    <!-- Title -->
                    <h2 class="mb-4 text-3xl font-bold md:text-5xl"> Lightning Fast&nbsp;Webflow Dev Made Easy </h2>
                    <p class="mx-auto mb-6 max-w-screen-2xl text-sm text-gray-500 sm:text-base md:mb-12"> Lorem ipsum
                        dolor sit
                        amet,
                        consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis, lectus magna fringilla
                        urna

                    </p>
                    <!-- Form -->
                    <div class="mx-auto mb-4 flex max-w-screen-2xl justify-center">
                        <form name="email-form" method="get" class="relative w-full max-w-lg">
                            <input type="email"
                                class="h-9 w-full border border-solid border-black bg-white px-3 py-6 text-sm text-black"
                                placeholder="Enter your email" required="" />
                            <input type="submit" value="Subscribe"
                                class="relative right-0 top-1 w-full cursor-pointer bg-[#ff4f1f] px-6 py-2 text-center font-semibold text-white sm:absolute sm:right-[5px] sm:w-auto" />
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <!-- subscribe -->
        <!--==================================================================================================================================================-->




        <!--==================================================================================================================================================-->
        <!-- blog section starts here -->
        <div>
            <div class="bg-white py-6 sm:py-8 lg:py-12">
                <div class="mx-auto max-w-screen-xl px-4 md:px-8">
                    <!-- text - start -->
                    <div class="mb-10 md:mb-6">
                        <h2 class="mb-4 text-center text-2xl font-bold text-gray-800 md:mb-6 lg:text-3xl">blogs
                        </h2>

                        <p class="mx-auto max-w-screen-md text-center text-gray-500 md:text-lg">This is a section of
                            some
                            simple
                            filler text, also known as placeholder text. It shares some characteristics of a real
                            written
                            text but
                            is random or otherwise generated.</p>
                    </div>
                </div>
            </div>
            <!-- text - end -->
            <!-- section 0 -->
            <section class="mb-9">
                <div class="mx-auto max-w-screen-2xl px-4 sm:px-6 lg:px-8">
                    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-8">
                        <div
                            class="group cursor-pointer border border-gray-300 rounded-2xl p-5 transition-all duration-300 hover:border-indigo-600 hover:bg-gray-100">
                            <div class="flex items-center mb-6">
                                <img src="https://pagedone.io/asset/uploads/1696244553.png" alt="Harsh image"
                                    class="rounded-lg w-full object-cover ">
                            </div>
                            <div class="block">
                                <h4 class="text-gray-900 font-medium leading-8 mb-9">Fintech 101: Exploring the Basics
                                    of Electronic
                                    Payments</h4>
                                <div class="flex items-center justify-between font-medium">
                                    <h6 class="text-sm text-gray-500">By Harsh C.</h6>
                                    <span class="text-sm text-indigo-600">2 year ago</span>
                                </div>
                            </div>
                        </div>


                        <div
                            class="group cursor-pointer border border-gray-300 rounded-2xl p-5 transition-all duration-300 hover:border-indigo-600 hover:bg-gray-100">
                            <div class="flex items-center mb-6">
                                <img src="https://pagedone.io/asset/uploads/1696244553.png" alt="Harsh image"
                                    class="rounded-lg w-full object-cover ">
                            </div>
                            <div class="block">
                                <h4 class="text-gray-900 font-medium leading-8 mb-9">Fintech 101: Exploring the Basics
                                    of Electronic
                                    Payments</h4>
                                <div class="flex items-center justify-between font-medium">
                                    <h6 class="text-sm text-gray-500">By Harsh C.</h6>
                                    <span class="text-sm text-indigo-600">2 year ago</span>
                                </div>
                            </div>
                        </div>

                        <div
                            class="group cursor-pointer border border-gray-300 rounded-2xl p-5 transition-all duration-300 hover:border-indigo-600 hover:bg-gray-100">
                            <div class="flex items-center mb-6">
                                <img src="https://pagedone.io/asset/uploads/1696244553.png" alt="Harsh image"
                                    class="rounded-lg w-full object-cover ">
                            </div>
                            <div class="block">
                                <h4 class="text-gray-900 font-medium leading-8 mb-9">Fintech 101: Exploring the Basics
                                    of Electronic
                                    Payments</h4>
                                <div class="flex items-center justify-between font-medium">
                                    <h6 class="text-sm text-gray-500">By Harsh C.</h6>
                                    <span class="text-sm text-indigo-600">2 year ago</span>
                                </div>
                            </div>
                        </div>

                        <div
                            class="group cursor-pointer border border-gray-300 rounded-2xl p-5 transition-all duration-300 hover:border-indigo-600 hover:bg-gray-100">
                            <div class="flex items-center mb-6">
                                <img src="https://pagedone.io/asset/uploads/1696244553.png" alt="Harsh image"
                                    class="rounded-lg w-full object-cover ">
                            </div>
                            <div class="block">
                                <h4 class="text-gray-900 font-medium leading-8 mb-9">Fintech 101: Exploring the Basics
                                    of Electronic
                                    Payments</h4>
                                <div class="flex items-center justify-between font-medium">
                                    <h6 class="text-sm text-gray-500">By Harsh C.</h6>
                                    <span class="text-sm text-indigo-600">2 year ago</span>
                                </div>
                            </div>
                        </div>
                        <div
                            class="group cursor-pointer border border-gray-300 rounded-2xl p-5 transition-all duration-300 hover:border-indigo-600 hover:bg-gray-100">
                            <div class="flex items-center mb-6">
                                <img src="https://pagedone.io/asset/uploads/1696244553.png" alt="Harsh image"
                                    class="rounded-lg w-full object-cover ">
                            </div>
                            <div class="block">
                                <h4 class="text-gray-900 font-medium leading-8 mb-9">Fintech 101: Exploring the Basics
                                    of Electronic
                                    Payments</h4>
                                <div class="flex items-center justify-between font-medium">
                                    <h6 class="text-sm text-gray-500">By Harsh C.</h6>
                                    <span class="text-sm text-indigo-600">2 year ago</span>
                                </div>
                            </div>
                        </div>
                        <div
                            class="group cursor-pointer border border-gray-300 rounded-2xl p-5 transition-all duration-300 hover:border-indigo-600 hover:bg-gray-100">
                            <div class="flex items-center mb-6">
                                <img src="https://pagedone.io/asset/uploads/1696244553.png" alt="Harsh image"
                                    class="rounded-lg w-full object-cover ">
                            </div>
                            <div class="block">
                                <h4 class="text-gray-900 font-medium leading-8 mb-9">Fintech 101: Exploring the Basics
                                    of Electronic
                                    Payments</h4>
                                <div class="flex items-center justify-between font-medium">
                                    <h6 class="text-sm text-gray-500">By Harsh C.</h6>
                                    <span class="text-sm text-indigo-600">2 year ago</span>
                                </div>
                            </div>
                        </div>
                        <div
                            class="group cursor-pointer border border-gray-300 rounded-2xl p-5 transition-all duration-300 hover:border-indigo-600 hover:bg-gray-100">
                            <div class="flex items-center mb-6">
                                <img src="https://pagedone.io/asset/uploads/1696244553.png" alt="Harsh image"
                                    class="rounded-lg w-full object-cover ">
                            </div>
                            <div class="block">
                                <h4 class="text-gray-900 font-medium leading-8 mb-9">Fintech 101: Exploring the Basics
                                    of Electronic
                                    Payments</h4>
                                <div class="flex items-center justify-between font-medium">
                                    <h6 class="text-sm text-gray-500">By Harsh C.</h6>
                                    <span class="text-sm text-indigo-600">2 year ago</span>
                                </div>
                            </div>
                        </div>
                        <div
                            class="group cursor-pointer border border-gray-300 rounded-2xl p-5 transition-all duration-300 hover:border-indigo-600 hover:bg-gray-100">
                            <div class="flex items-center mb-6">
                                <img src="https://pagedone.io/asset/uploads/1696244553.png" alt="Harsh image"
                                    class="rounded-lg w-full object-cover ">
                            </div>
                            <div class="block">
                                <h4 class="text-gray-900 font-medium leading-8 mb-9">Fintech 101: Exploring the Basics
                                    of Electronic
                                    Payments</h4>
                                <div class="flex items-center justify-between font-medium">
                                    <h6 class="text-sm text-gray-500">By Harsh C.</h6>
                                    <span class="text-sm text-indigo-600">2 year ago</span>
                                </div>
                            </div>
                        </div>
                        <div
                            class="group cursor-pointer border border-gray-300 rounded-2xl p-5 transition-all duration-300 hover:border-indigo-600 hover:bg-gray-100">
                            <div class="flex items-center mb-6">
                                <img src="https://pagedone.io/asset/uploads/1696244553.png" alt="Harsh image"
                                    class="rounded-lg w-full object-cover ">
                            </div>
                            <div class="block">
                                <h4 class="text-gray-900 font-medium leading-8 mb-9">Fintech 101: Exploring the Basics
                                    of Electronic
                                    Payments</h4>
                                <div class="flex items-center justify-between font-medium">
                                    <h6 class="text-sm text-gray-500">By Harsh C.</h6>
                                    <span class="text-sm text-indigo-600">2 year ago</span>
                                </div>
                            </div>
                        </div>
                        <div
                            class="group cursor-pointer border border-gray-300 rounded-2xl p-5 transition-all duration-300 hover:border-indigo-600 hover:bg-gray-100">
                            <div class="flex items-center mb-6">
                                <img src="https://pagedone.io/asset/uploads/1696244553.png" alt="Harsh image"
                                    class="rounded-lg w-full object-cover ">
                            </div>
                            <div class="block">
                                <h4 class="text-gray-900 font-medium leading-8 mb-9">Fintech 101: Exploring the Basics
                                    of Electronic
                                    Payments</h4>
                                <div class="flex items-center justify-between font-medium">
                                    <h6 class="text-sm text-gray-500">By Harsh C.</h6>
                                    <span class="text-sm text-indigo-600">2 year ago</span>
                                </div>
                            </div>
                        </div>
                        <div
                            class="group cursor-pointer border border-gray-300 rounded-2xl p-5 transition-all duration-300 hover:border-indigo-600 hover:bg-gray-100">
                            <div class="flex items-center mb-6">
                                <img src="https://pagedone.io/asset/uploads/1696244553.png" alt="Harsh image"
                                    class="rounded-lg w-full object-cover ">
                            </div>
                            <div class="block">
                                <h4 class="text-gray-900 font-medium leading-8 mb-9">Fintech 101: Exploring the Basics
                                    of Electronic
                                    Payments</h4>
                                <div class="flex items-center justify-between font-medium">
                                    <h6 class="text-sm text-gray-500">By Harsh C.</h6>
                                    <span class="text-sm text-indigo-600">2 year ago</span>
                                </div>
                            </div>
                        </div>
                        <div
                            class="group cursor-pointer border border-gray-300 rounded-2xl p-5 transition-all duration-300 hover:border-indigo-600 hover:bg-gray-100">
                            <div class="flex items-center mb-6">
                                <img src="https://pagedone.io/asset/uploads/1696244553.png" alt="Harsh image"
                                    class="rounded-lg w-full object-cover ">
                            </div>
                            <div class="block">
                                <h4 class="text-gray-900 font-medium leading-8 mb-9">Fintech 101: Exploring the Basics
                                    of Electronic
                                    Payments</h4>
                                <div class="flex items-center justify-between font-medium">
                                    <h6 class="text-sm text-gray-500">By Harsh C.</h6>
                                    <span class="text-sm text-indigo-600">2 year ago</span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </section>
            <!-- section 1 -->



        </div>
        <!-- blog section ends here -->
        <!--==================================================================================================================================================-->


        <!--==================================================================================================================================================-->
        <!-- pagination start here -->
        <nav aria-label="Page navigation example">
            <ul class="flex items-center -space-x-px h-8 text-sm justify-center mb-32 pt-24">
                <li>
                    <a href="#"
                        class="flex items-center justify-center px-3 h-8 ms-0 leading-tight text-gray-500 bg-white border border-e-0 border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                        <span class="sr-only">Previous</span>
                        <svg class="w-2.5 h-2.5 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                            fill="none" viewBox="0 0 6 10">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M5 1 1 5l4 4" />
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="#"
                        class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">1</a>
                </li>
                <li>
                    <a href="#"
                        class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">2</a>
                </li>
                <li>
                    <a href="#" aria-current="page"
                        class="z-10 flex items-center justify-center px-3 h-8 leading-tight text-blue-600 border border-blue-300 bg-blue-50 hover:bg-blue-100 hover:text-blue-700 dark:border-gray-700 dark:bg-gray-700 dark:text-white">3</a>
                </li>
                <li>
                    <a href="#"
                        class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">4</a>
                </li>
                <li>
                    <a href="#"
                        class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">5</a>
                </li>
                <li>
                    <a href="#"
                        class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                        <span class="sr-only">Next</span>
                        <svg class="w-2.5 h-2.5 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                            fill="none" viewBox="0 0 6 10">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="m1 9 4-4-4-4" />
                        </svg>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- pagination ends here -->
        <!--==================================================================================================================================================-->


    </body>

</html>