<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="../input.css" />
        <link rel="stylesheet" href="../src/output.css" />
        <link rel="stylesheet" href="output.css">

    </head>

    <body>

        <!-- heading start's here -->
        <!--==================================================================================================================================================-->
        <div class="mx-auto w-full max-w-screen-lg px-6 py-16 ">
            <h1 class="lg:text-5xl  text-3xl  dark:text-white">Track work across the enterprise through an open,
                collaborative
            </h1>
        </div>
        <!--==================================================================================================================================================-->
        <!-- heading end's here -->




        <!-- author section start's here -->
        <!--==================================================================================================================================================-->
        <section class="bg-white dark:bg-gray-900">
            <div class="py-3 px-4 mx-auto max-w-screen-lg text-center ">
                <div class="flex flex-row  justify-between  text-gray-600">
                    <span class="flex  px-6 text-base font-medium ">
                        Author : AJ
                    </span>
                    <span href="#" class=" px-6  font-medium ">
                        date: 13 January 2004
                    </span>
                </div>
            </div>
        </section>
        <!-- author section end's here -->
        <!--==================================================================================================================================================-->




        <!-- hr start's here -->
        <!--==================================================================================================================================================-->
        <hr class="w-96 h-0.5 mx-auto my-0 bg-[#ff4f1f] border-0 rounded  dark:bg-[#ff4f1f]">
        <!-- hr end's here -->
        <!--==================================================================================================================================================-->





        <!-- text section start's  here -->
        <!--==================================================================================================================================================-->
        <div class="mx-auto w-full max-w-screen-md text-black  py-16  px-6">
            <p class="mb-3 text-base sm:text-lg  dark:text-white">Track work across the enterprise
                through
                an open,
                collaborative
                platform. Link issues across Jira and ingest data from other software development tools, so your IT
                support and
                operations teams have richer contextual information to rapidly respond to requests, incidents, and
                changes.</p>
            <p class=" ">Deliver great service experiences fast - without the
                complexity
                of
                traditional ITSM solutions.Accelerate critical development work, eliminate toil, and deploy changes
                with
                ease, with
                a complete audit trail for every change.</p>

            <!-- p section  end's here -->
            <!--==================================================================================================================================================-->




            <!-- fig section start's here -->
            <!--==================================================================================================================================================-->
            <figure class="max-w-lg mx-auto px-6 py-6">
                <img class="h-auto max-w-full rounded-lg"
                    src="https://images.unsplash.com/photo-1655393001768-d946c97d6fd1?q=80&w=2076&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" "
                alt=" image description">
                <figcaption class="mt-2 text-sm text-center text-gray-700 ">Image caption</figcaption>
            </figure>
            <!-- fig section  end's here -->
            <!--==================================================================================================================================================-->




            <!-- p section 1 start's here -->
            <!--==================================================================================================================================================-->
            <p class="mb-3  ">Track work across the enterprise through an open,
                collaborative
                platform. Link issues across Jira and ingest data from other software development tools, so your IT
                support and
                operations teams have richer contextual information to rapidly respond to requests, incidents, and
                changes.</p>
            <p class=" ">Deliver great service experiences fast - without the
                complexity
                of
                traditional ITSM solutions.Accelerate critical development work, eliminate toil, and deploy changes
                with
                ease, with
                a complete audit trail for every change.</p>


            <p class="mb-3  ">Track work across the enterprise through an open,
                collaborative
                platform. Link issues across Jira and ingest data from other software development tools, so your IT
                support and
                operations teams have richer contextual information to rapidly respond to requests, incidents, and
                changes.
            </p>
            <!-- p section  end's here -->
            <!--==================================================================================================================================================-->



            <!-- fig start's here -->
            <!--==================================================================================================================================================-->
            <figure class="max-w-lg mx-auto px-6 py-6">
                <img class="h-auto max-w-full rounded-lg"
                    src="https://images.unsplash.com/photo-1655393001768-d946c97d6fd1?q=80&w=2076&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" "
                            alt=" image description">
                <figcaption class="mt-2 text-sm text-center text-gray-700 ">Image caption</figcaption>
            </figure>


            <!-- fig  end's here -->
            <!--==================================================================================================================================================-->
            <!-- p start's here -->
            <!--==================================================================================================================================================-->

            <p class="mb-3  ">Track work across the enterprise through an open,
                collaborative
                platform. Link issues across Jira and ingest data from other software development tools, so your IT
                support and
                operations teams have richer contextual information to rapidly respond to requests, incidents, and
                changes.</p>
            <p class="mb-3  ">Track work across the enterprise through an open,
                collaborative
                platform. Link issues across Jira and ingest data from other software development tools, so your IT
                support and
                operations teams have richer contextual information to rapidly respond to requests, incidents, and
                changes.</p>


            <!-- p end's here -->
            <!--==================================================================================================================================================-->



        </div>

        <!-- text section  end's here -->
        <!--==================================================================================================================================================-->

        <hr class="w-1/2 h-0.5 mx-auto my-1 bg-[#ff4f1f] border-0 rounded  dark:bg-[#ff4f1f]">
    </body>

</html>